<f:layout name="Default" />

<f:section name="Content">
    <h1>Edit Member</h1>
    <f:form action="update" object="{member}">
        <label for="name">Name:</label>
        <f:form.textfield property="name" id="name" /><br />
        <label for="surname">Last Name:</label>
        <f:form.textfield property="surname" id="surname" /><br />
        <label for="title">Title:</label>
        <f:form.textfield property="title" id="title" /><br />
        <label for="phone">Phone:</label>
        <f:form.textfield property="phone" id="phone" /><br />
        <label for="address">Address:</label>
        <f:form.textfield property="address" id="address" /><br />
        <label for="email">Email:</label>
        <f:form.textfield property="email" id="email" /><br />
        <!-- Add other fields as needed -->
        <f:form.submit value="Update" />
    </f:form>
</f:section>
