<f:layout name="Default" />

<f:section name="Content">

    <h1>Lista članova</h1>
    <table>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Zvanje</th>
            <th>Akcije</th>
        </tr>
        <f:for each="{members}" as="member">
            <tr>
                <td>{member.name}</td>
                <td>{member.surname}</td>
                <td>{member.title}</td>
                <td>
                    <f:link.action action="edit" arguments="{member: member}">Izmeni</f:link.action> |
                    <f:link.action action="delete" arguments="{member: member}">Obriši</f:link.action>
                </td>
            </tr>

        </f:for>
    </table>

    <f:link.action action="new">➕ Novi član</f:link.action>
</f:section>
